.nav-item {
  margin-left: 10px;
  margin-right: 10px;
}

.float-text {
  font-size: 24px;
  font-weight: 400;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  border-radius: 10px;
}

#sci-res:hover {
  background: #F8F8F8 !important;
}

#leg-res:hover {
  background: #F8F8F8 !important;
}

#des-res:hover {
  background: #F8F8F8 !important;
}

#mar-res:hover {
  background: #F8F8F8 !important;
}

.nav-item {
  margin-bottom: 0px;
}

.hvline {
  border-top: solid 5px white;
  border-bottom: solid 5px white;
}

.hvline:hover {
  border-bottom: solid 5px orange;
}

.shadow-on {
  box-shadow: 1px 0px 10px 0.5px rgba(0,0,0,0.1);
}

#promo-btn {
  background: black;
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  margin: 10px;
  transform: scale(1);
  animation: pulse-black 2s infinite;
}

@keyframes pulse-black {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
