<!-- Inherits from base template -->
{% extends "base.html" %}

<!-- Page title -->
{% block title %}Personality Quiz{% endblock %}


{% block content %}
<style>
    body {
        background: #dde9e1;
        color: black;
        font-family: 'Karla', sans-serif;
    }


    .d-none {
        display: none;
    }

    html,
    body {
        padding: 0;
        margin: 0;
    }

    .wrap {
        background-color: #fff;
        font-family: 'Karla', sans-serif;
        border-radius: 10px;
    }

    h1.likert-header {
        padding-left: 4.25%;
        margin: 20px 0 0;
    }

    form .statement {
        display: block;
        font-size: 14px;
        font-weight: bold;
        padding: 30px 0 0 4.25%;
        margin-bottom: 10px;
    }

    form .likert {
        list-style: none;
        width: 100%;
        margin: 0;
        padding: 0 0 35px;
        display: block;
        border-bottom: 2px solid #efefef;
    }

    form .likert:last-of-type {
        border-bottom: 0;
    }

    form .likert:before {
        content: '';
        position: relative;
        top: 11px;
        left: 9.5%;
        display: block;
        background-color: #efefef;
        height: 4px;
        width: 78%;
    }

    form .likert li {
        display: inline-block;
        width: 19%;
        text-align: center;
        vertical-align: top;
    }

    form .likert li input[type=radio] {
        display: block;
        position: relative;
        top: 0;
        left: 50%;
        margin-left: -6px;

    }

    form .likert li label {
        width: 100%;
        font-size: 18px;
    }

    form .statement {
        font-size: 18px;
    }

    form .buttons {
        margin: 30px 0;
        padding: 0 4.25%;
        text-align: center;
    }

    form .buttons button {
        padding: 5px 10px;
        background-color: black;
        color: #fff;
        border: 0;
        border-radius: 3px;
    }

    form .buttons .clear {
        background-color: #e9e9e9;
    }

    form .buttons .submit {
        background-color: #67ab49;
    }

    form .buttons .clear:hover {
        background-color: #ccc;
    }

    form .buttons .submit:hover {
        background-color: #14892c;
    }


    /*custom font*/
    @import url(https://fonts.googleapis.com/css?family=Montserrat);


    body {
        font-family: montserrat, arial, verdana;
    }

    /*form styles*/
    #msform {
        width: 400px;
        margin: 50px auto;
        text-align: center;
        position: relative;
    }

    #msform fieldset {
        background: white;
        border: 0 none;
        border-radius: 3px;
        box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
        padding: 20px 30px;
        box-sizing: border-box;
        width: 80%;
        margin: 0 10%;
        background-color: #fff;
        /*stacking fieldsets above each other*/
        position: relative;
    }

    /*inputs*/
    #msform input,
    select,
    #msform textarea {
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin-bottom: 10px;
        width: 100%;
        box-sizing: border-box;
        font-family: montserrat;
        color: #2C3E50;
        font-size: 13px;
    }

    /*buttons*/
    #msform .action-button {
        width: 100px;
        background: #27AE60;
        font-weight: bold;
        color: white;
        border: 0 none;
        border-radius: 1px;
        cursor: pointer;
        padding: 10px;
        margin: 10px 5px;
        text-decoration: none;
        font-size: 14px;
    }

    #msform .action-button:hover,
    #msform .action-button:focus {
        box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
    }

    /*headings*/
    .fs-title {
        font-size: 15px;
        text-transform: uppercase;
        color: #2C3E50;
        margin-bottom: 10px;
    }

    .fs-subtitle {
        font-weight: normal;
        font-size: 13px;
        color: #666;
        margin-bottom: 20px;
    }

    @import "https://unpkg.com/open-props";



    button {
        font: inherit;
    }

    .page {
        color: var(--gray-9);
        background-color: var(--gray-0);
        display: grid;
        grid-template-areas: "main";
        min-height: 100vh;
        font-family: var(--font-sans);
    }

    .page__main {
        grid-area: main;
    }

    .main {
        display: grid;
        place-content: center;
    }

    .main__cards {
        display: flex;
        gap: var(--size-6);
        flex-direction: column;
        padding: var(--size-4);
    }

    @media screen and (min-width: 48em) {
        .main__cards {
            flex-direction: row;
        }
    }

    .team-card {
        color: var(--gray-9);
        background-color: var(--gray-0);
        max-width: 20em;
        box-shadow: 0px 12px 19px 0px rgba(0, 0, 0, 0.2);
    }

    .team-card__content {
        display: grid;
        padding: var(--size-3);
    }

    .team-card__img-box {
        width: 20em;
        aspect-ratio: 1;
    }

    .team-card__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .team-card__intro {
        margin-bottom: var(--size-4);
        display: grid;

        gap: var(--size-4);
    }

    .team-card__title {
        font-size: var(--font-size-4);
        font-weight: var(--font-weight-6);
    }

    .team-card__job-title {
        color: var(--gray-6);
    }

    .team-card__desc {
        margin-bottom: var(--size-4);
        line-height: var(--font-lineheight-3);
    }

    .team-card__mail {
        margin-bottom: var(--size-4);
        font-size: 0.95rem;
        font-style: italic;
    }

    .team-card__btn {
        margin: 0;
        margin-top: auto;
    }

    .primary-btn {
        transition: 180ms ease-in;
        color: var(--gray-0);
        background-color: var(--gray-9);
        border: 0;
        padding: var(--size-3);
        cursor: pointer;
    }

    .primary-btn:hover {
        background-color: var(--gray-7);
    }
    .upload-btn-wrapper {
        position: relative;
        overflow: hidden;
        display: inline-block;
    }

    .wbtn {
        border: 2px solid gray;
        color: gray;
        background-color: white;
        padding: 8px 20px;
        border-radius: 50%;
        height: 100px;
        width: 100px;
    }

    .upload-btn-wrapper input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }

    .dd-none{
        display: none !important; 
    }

    .o {
        display: flex;
    }

    .finp{
        border: none;
        background-color: transparent;
        color: transparent;
    }
</style>

<style>
    .blur {
        filter: blur(4px);
        -webkit-filter: blur(4px);
    }

    .upload-btn-wrapper {
        position: relative;
        overflow: hidden;
        display: inline-block;
    }


    .upload-btn-wrapper input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }

    @media (max-width: 700px) {
        .wrapper {
            flex-direction: column;
            justify-content: center;
        }
    }
</style>
 {% if g.user['img']==None %}
 <style>
    .blur1 {
        filter: blur(4px);
        -webkit-filter: blur(4px);
    }
 </style>
 {% endif %}



<div class="form-cont"
    style="margin-top:max(80px,10%); display: flex; justify-content:center; flex-direction:row; align-items:center;">
    <h2 style="color: black; font-size:max( 22px,2.5vw)">Your event is scheduled for today</h2>
</div>
<div
    style="display: flex; justify-content:center; flex-direction:row; align-items:center; text-align:left; flex-wrap:wrap">
    <div
        style="width: max(400px,40%); display: flex; justify-content:center; flex-direction:column; align-items:center; text-align:left">

        <p style="margin-top: 5%; font-size:max( 18px,1.5vw); font-family: 'Karla', sans-serif;">
            Time: 8:30-9:00 PM <br>
            Venue: H5 Mess <br>
            Table: #{{g.user['tble']}} <span style="font-size: small; color:grey">(Refer to the photo)</span></p>
    </div>
    <div style="width: max(400px,60%); display:flex; justify-content:center">
        <img data-enlargeable src="{{url_for('static', filename='images/mess.jpg')}}" style="margin-top: 50px; width:80%"
            class='img2' alt="">
    </div>

</div>
<div onload="getPics()" class="gallery"
    style="margin-top: 100px;margin-bottom: 100px; display:flex; align-items:center; justify-content:center; flex-direction:column; font-size:max( 22px,2.5vw)">
    <div>
        <h2 style="font-size:max( 22px,2.5vw); font-family: 'Karla', sans-serif;">Who are you meeting today?</h2>
    </div>
    {% if g.user['status'] == 1 %}
    <div id="warning1" style=" color:black; width:100%; text-align:center;overflow:hidden;display:flex; justify-content:center" >
        
        <div style="padding: 5px; background-color: #f2dedf; font-size:max( 12px,1.1vw); border: solid 1px #a36062; width: min(500px, 100%); text-align:center;overflow:hidden;" >
            View other members only after you reach the venue <br> (Click I am here button to notify)
        </div>
        
    </div>
    {% else %}
    <div id="warning1">
    </div>
    {% endif %}
    <div id="warning2" class="dd-none" style=" color:black;  width:100%; text-align:center;overflow:hidden;display:flex; justify-content:center; margin-top:2px" >
        
        <div style="padding: 5px; background-color: #f2dedf;  font-size:max( 12px,1.1vw); border: solid 1px #a36062; width: min(500px, 100%); text-align:center; overflow:hidden;" >
            'I am here'  button will be active in <span id="timer" style=" color:black; "></span>
        </div>
        
    </div>
    {% if g.user['img'] == None %}
    <div id="warnings" style=" color:black; margin-top:2px; width:100%; text-align:center;overflow:hidden;display:flex; justify-content:center" >
        
        <div style=" padding: 5px;background-color: #f2dedf; border: solid 1px #a36062; font-size:max( 12px,1.1vw);background-color: #f2dedf; border: solid 1px #a36062; width: min(500px, 100%); text-align:center; overflow:hidden;" >
            Upload your photo first, to see pictures of other members
        </div>
        
    </div>
    {% endif %}
    <div style="display:flex; justify-content:center; width:min(100%,900px) ; margin-top:5px">
        <div class="o" id="default" style="width: 100%; flex-wrap:wrap; flex-direction:row; gap: 50px; justify-content:center;">
            
            <div style="display:flex; flex-wrap:nowrap; flex-direction:row;align-items:center; margin-top: 30px">
                {% if g.user['img'] != None %}
                <div style="width: 100px;" class="upload-btn-wrapper">
                    <img data-enlargeable width="100px" height="100px" style="border-radius: 50%;" src="{{g.user['img']}}" alt="">
                    <input id="inp3" type="file" accept="image/*"/>
                </div>
                {% else %}
                <div class="upload-btn-wrapper">
                    <img data-enlargeable class="dd-none" id="img" height="150">
                    <button class="wbtn" style="font-size: small; color:#fff; background-color:black;">Click to <br> upload</button>
                    <input id="inp" type="file" accept="image/*"/>
                </div>
                {% endif %}
                <div style="display: flex; flex-direction:column; width:200px; margin-left:20px">
                    <div><h2 style="font-size:max(20px,1.5vw); font-family: 'Karla', sans-serif;">{{g.user['name']}}</h2></div>
                    <div>         
                        <a style="width: 90px; margin:auto; font-size:max(16px,1.2vw) " href="/status/3" class="btn">Cancel</a>
                        <button style="background-color: rgb(150, 198, 150); color:#fff; border-color:rgb(150, 198, 150); width: 90px; margin:auto; font-size:max(16px,1.2vw)" class="btn" onclick="show()">I'm here</button>
                    </div>
                </div>
            </div>
            
            {% for user in users %}
            {% if g.user['id'] != user[0] %}
            <div style="display:flex; flex-wrap:nowrap; flex-direction:row; align-items:center;">
                {% if user[-1] %}
                <div style="width: 100px;">
                    <img data-enlargeable class="blur" width="100px" height="100px" style="border-radius: 50%;" src="{{user[-1]}}" alt="">
                </div>
                {% else %}
                <div class="upload-btn-wrapper">
                    <img data-enlargeable width="100px" height="100px" style="border-radius: 50%;" src="{{url_for('static', filename='images/per.svg')}}" alt="">
                </div>
                {% endif %}
                <div style="display: flex; flex-direction:column; width:200px; margin-left:20px">
                    <div>
                        <h2 style="font-size:max(20px,1.5vw); font-family: 'Karla', sans-serif;">{{user[1][0]}}
                        {% for i in user[1].split(' ')[0][1:] %}
                        *
                        {% endfor %}
                        </h2>
                    </div>
                    <div>
                        {% if user[-2] == 1 %}
                        <p class="team-card__job-title" style="font-size:larger; font-size:max(20px,1.2vw)">Coming</p>
                        {% elif user[-2] == 2 %}
                        <p class="team-card__job-title" style="color:green; font-size:larger; font-size:max(20px,1.2vw)">Arrived </p>
                        {% else %}
                        <p class="team-card__job-title" style="color:red; font-size:larger; font-size:max(20px,1.2vw)">Cancelled</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}

            {% if np==1 %}
            <div style="display:flex; flex-wrap:wrap; flex-direction:row;align-items:center;">
                <div class="upload-btn-wrapper">
                    <img data-enlargeable width="100px" height="100px" style="border-radius: 50%;" src="{{url_for('static', filename='images/per.svg')}}" alt="">
                </div>
                <div style="display: flex; flex-direction:column; width:200px; margin-left:20px; ">
                    <div><h2 style="font-size:max(20px,1.2vw)">To be assigned</h2></div>
                </div>
            </div>
            <div style="display:flex; flex-wrap:wrap; flex-direction:row;align-items:center;">
                <div class="upload-btn-wrapper">
                    <img data-enlargeable width="100px" height="100px" style="border-radius: 50%;" src="{{url_for('static', filename='images/per.svg')}}" alt="">
                </div>
                <div style="display: flex; flex-direction:column; width:200px; margin-left:20px; ">
                    <div><h2 style="font-size:max(20px,1.2vw)">To be assigned</h2></div>
                </div>
            </div>
            <div style="display:flex; flex-wrap:wrap; flex-direction:row;align-items:center;">
                <div class="upload-btn-wrapper">
                    <img data-enlargeable width="100px" height="100px" style="border-radius: 50%;" src="{{url_for('static', filename='images/per.svg')}}" alt="">
                </div>
                <div style="display: flex; flex-direction:column; width:200px; margin-left:20px; ">
                    <div><h2 style="font-size:max(20px,1.2vw)">To be assigned</h2></div>
                </div>
            </div>
            {% endif %}
            {% if np==2 %}
            <div style="display:flex; flex-wrap:wrap; flex-direction:row;align-items:center; ">
                <div class="upload-btn-wrapper">
                    <img width="100px" height="100px" style="border-radius: 50%;" src="{{url_for('static', filename='images/per.svg')}}" alt="">
                </div>
                <div style="display: flex; flex-direction:column; width:200px; margin-left:20px; ">
                    <div><h2 style="font-size:max(20px,1.2vw)">To be assigned</h2></div>
                </div>
            </div>
            <div style="display:flex; flex-wrap:wrap; flex-direction:row;align-items:center; ">
                <div class="upload-btn-wrapper">
                    <img width="100px" height="100px" style="border-radius: 50%;" src="{{url_for('static', filename='images/per.svg')}}" alt="">
                </div>
                <div style="display: flex; flex-direction:column; width:200px; margin-left:20px; ">
                    <div><h2 style="font-size:max(20px,1.2vw)">To be assigned</h2></div>
                </div>
            </div>
            {% endif %}
            {% if np==3 %}
            <div style="display:flex; flex-wrap:wrap; flex-direction:row;align-items:center; ">
                <div class="upload-btn-wrapper">
                    <img width="100px" height="100px" style="border-radius: 50%;" src="{{url_for('static', filename='images/per.svg')}}" alt="">
                </div>
                <div style="display: flex; flex-direction:column; width:200px; margin-left:20px; ">
                    <div><h2 style="font-size:max(20px,1.2vw)">To be assigned</h2></div>
                </div>
            </div>
            {% endif %}
        </div>

        {% if g.user['status'] == 1 %}
        <div class="o" id="time" style="width: 100%; flex-wrap:wrap; flex-direction:row; gap: 50px; justify-content:center;">
            
            <div style="display:flex; flex-wrap:wrap; flex-direction:row;align-items:center; margin-top: 30px">
                {% if g.user['img'] != None %}
                <div style="width: 100px;" class="upload-btn-wrapper">
                    <img width="100px" height="100px" style="border-radius: 50%;" src="{{g.user['img']}}" alt="">
                    <input id="inp3" type="file" accept="image/*"/>
                </div>
                {% else %}
                <div class="upload-btn-wrapper">
                    <img class="dd-none" id="img" height="150">
                    <button class="wbtn" style="font-size: small; color:#fff; background-color:black;">Click to <br> upload</button>
                    <input id="inp" type="file" accept="image/*"/>
                </div>
                {% endif %}
                <div style="display: flex; flex-direction:column; width:200px; margin-left:20px">
                    <div><h2 style="font-size:max(20px,1.5vw); font-family: 'Karla', sans-serif;">{{g.user['name']}}</h2></div>
                    <div>         
                        
                        {% if g.user['status'] == 1 %}
                        <a style="width: 90px; margin:auto; font-size:max(16px,1.2vw) " href="/status/3" class="btn">Cancel</a>
                        <a style="background-color: green; color:#fff; border-color:green; width: 90px; margin:auto; font-size:max(16px,1.2vw)" href="/status/2" class="btn">I'm here</a>
                        {% else %}
                        <p style=" color:green; width: 90px; margin:auto; font-size:max(16px,1.2vw)" href="/status/2" >I'm here</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            
            {% for user in users %}
            {% if g.user['id'] != user[0] %}
            <div style="display:flex; flex-wrap:wrap; flex-direction:row;align-items:center">
                {% if user[-1] %}
                <div style="width: 100px;">
                    <img class="blur" width="100px" height="100px" style="border-radius: 50%;" src="{{user[-1]}}" alt="">
                </div>
                {% else %}
                <div class="upload-btn-wrapper">
                    <img data-enlargeable width="100px" height="100px" style="border-radius: 50%;" src="{{url_for('static', filename='images/per.svg')}}" alt="">
                </div>
                {% endif %}
                <div style="display: flex; flex-direction:column; width:200px; margin-left:20px">
                    <div>
                        <h2 style="font-size:max(20px,1.5vw); font-family: 'Karla', sans-serif;">{{user[1][0]}}
                            {% for i in user[1].split(' ')[0][1:] %}
                            *
                            {% endfor %}
                        </h2>
                    </div>
                    <div>
                        {% if user[-2] == 1 %}
                        <p class="team-card__job-title" style="font-size:larger; font-size:max(20px,1.2vw)">Coming</p>
                        {% elif user[-2] == 2 %}
                        <p class="team-card__job-title" style="color:green; font-size:larger; font-size:max(20px,1.2vw)">Arrived </p>
                        {% else %}
                        <p class="team-card__job-title" style="color:red; font-size:larger; font-size:max(20px,1.2vw)">Cancelled</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}

            {% if np==1 %}
            <div style="display:flex; flex-wrap:wrap; flex-direction:row;align-items:center; margin-top: 30px">
                <div class="upload-btn-wrapper">
                    <img data-enlargeable width="100px" height="100px" style="border-radius: 50%;" src="{{url_for('static', filename='images/per.svg')}}" alt="">
                </div>
                <div style="display: flex; flex-direction:column; width:200px; margin-left:20px; ">
                    <div><h2 style="font-size:max(20px,1.2vw)">To be assigned</h2></div>
                </div>
            </div>
            <div style="display:flex; flex-wrap:wrap; flex-direction:row;align-items:center; margin-top: 30px">
                <div class="upload-btn-wrapper">
                    <img data-enlargeable width="100px" height="100px" style="border-radius: 50%;" src="{{url_for('static', filename='images/per.svg')}}" alt="">
                </div>
                <div style="display: flex; flex-direction:column; width:200px; margin-left:20px; ">
                    <div><h2 style="font-size:max(20px,1.2vw)">To be assigned</h2></div>
                </div>
            </div>
            <div style="display:flex; flex-wrap:wrap; flex-direction:row;align-items:center; margin-top: 30px">
                <div class="upload-btn-wrapper">
                    <img data-enlargeable width="100px" height="100px" style="border-radius: 50%;" src="{{url_for('static', filename='images/per.svg')}}" alt="">
                </div>
                <div style="display: flex; flex-direction:column; width:200px; margin-left:20px; ">
                    <div><h2 style="font-size:max(20px,1.2vw)">To be assigned</h2></div>
                </div>
            </div>
            {% endif %}
            {% if np==2 %}
            <div style="display:flex; flex-wrap:wrap; flex-direction:row;align-items:center; margin-top: 30px">
                <div class="upload-btn-wrapper">
                    <img width="100px" height="100px" style="border-radius: 50%;" src="{{url_for('static', filename='images/per.svg')}}" alt="">
                </div>
                <div style="display: flex; flex-direction:column; width:200px; margin-left:20px; ">
                    <div><h2 style="font-size:max(20px,1.2vw)">To be assigned</h2></div>
                </div>
            </div>
            <div style="display:flex; flex-wrap:wrap; flex-direction:row;align-items:center; margin-top: 30px">
                <div class="upload-btn-wrapper">
                    <img data-enlargeable width="100px" height="100px" style="border-radius: 50%;" src="{{url_for('static', filename='images/per.svg')}}" alt="">
                </div>
                <div style="display: flex; flex-direction:column; width:200px; margin-left:20px; ">
                    <div><h2 style="font-size:max(20px,1.2vw)">To be assigned</h2></div>
                </div>
            </div>
            {% endif %}
            {% if np==3 %}
            <div style="display:flex; flex-wrap:wrap; flex-direction:row;align-items:center; margin-top: 30px">
                <div class="upload-btn-wrapper">
                    <img data-enlargeable width="100px" height="100px" style="border-radius: 50%;" src="{{url_for('static', filename='images/per.svg')}}" alt="">
                </div>
                <div style="display: flex; flex-direction:column; width:200px; margin-left:20px; ">
                    <div><h2 style="font-size:max(20px,1.2vw)">To be assigned</h2></div>
                </div>
            </div>
            {% endif %}
        </div>
        
        {% else %}
        <div class="o" id="time" style="width: 100vw; flex-wrap:wrap; flex-direction:row; gap: 50px; justify-content:center;">
            
            <div style="display:flex; flex-wrap:wrap; flex-direction:row;align-items:center; margin-top: 30px">
                {% if g.user['img'] != None %}
                <div style="width: 100px;" class="upload-btn-wrapper">
                    <img width="100px" height="100px" style="border-radius: 50%;" src="{{g.user['img']}}" alt="">
                    <input id="inp4" type="file" accept="image/*"/>
                </div>
                {% else %}
                <div class="upload-btn-wrapper">
                    <img data-enlargeable class="dd-none" id="img" height="150">
                    <button class="wbtn" style="font-size: small; color:#fff; background-color:black;">Click to <br> upload</button>
                    <input id="inp1" type="file" accept="image/*"/>
                </div>
                {% endif %}
                <div style="display: flex; flex-direction:column; width:200px; margin-left:20px">
                    <div><h2 style="font-size:max(20px,1.5vw); font-family: 'Karla', sans-serif;">{{g.user['name']}}</h2></div>
                    <div>         
                        
                        {% if g.user['status'] == 1 %}
                        <a style="width: 90px; margin:auto; font-size:max(16px,1.2vw) " href="/status/3" class="btn">Cancel</a>
                        <a style="background-color: green; color:#fff; border-color:green; width: 90px; margin:auto; font-size:max(16px,1.2vw)" href="/status/2" class="btn">I'm here</a>
                        {% else %}
                        <p style=" color:green; width: 70px; margin:auto; font-size:max(16px,1.2vw)">I'm here</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            
            {% for user in users %}
            {% if g.user['id'] != user[0] %}
            <div style="display:flex; flex-wrap:wrap; flex-direction:row;align-items:center">
                {% if user[-1] %}
                <div style="width: 100px;">
                    <img data-enlargeable class="blur1" width="100px" height="100px" style="border-radius: 50%;" src="{{user[-1]}}" alt="">
                </div>
                {% else %}
                <div class="upload-btn-wrapper">
                    <img data-enlargeable width="100px" height="100px" style="border-radius: 50%;" src="{{url_for('static', filename='images/per.svg')}}" alt="">
                </div>
                {% endif %}
                <div style="display: flex; flex-direction:column; width:200px; margin-left:20px">
                    <div><h2 style="font-size:max(20px,1.5vw); font-family: 'Karla', sans-serif;">{{user[1]}}</h2></div>
                    <div>
                        {% if user[-2] == 1 %}
                        <p class="team-card__job-title" style="font-size:larger; font-size:max(20px,1.2vw)">Coming</p>
                        {% elif user[-2] == 2 %}
                        <p class="team-card__job-title" style="color:green; font-size:larger; font-size:max(20px,1.2vw)">Arrived </p>
                        {% else %}
                        <p class="team-card__job-title" style="color:red; font-size:larger; font-size:max(20px,1.2vw)">Cancelled</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}

            {% if np==1 %}
            <div style="display:flex; flex-wrap:wrap; flex-direction:row;align-items:center; margin-top: 30px">
                <div class="upload-btn-wrapper">
                    <img data-enlargeable width="100px" height="100px" style="border-radius: 50%;" src="{{url_for('static', filename='images/per.svg')}}" alt="">
                </div>
                <div style="display: flex; flex-direction:column; width:200px; margin-left:20px; ">
                    <div><h2 style="font-size:max(20px,1.2vw)">To be assigned</h2></div>
                </div>
            </div>
            <div style="display:flex; flex-wrap:wrap; flex-direction:row;align-items:center; margin-top: 30px">
                <div class="upload-btn-wrapper">
                    <img data-enlargeable width="100px" height="100px" style="border-radius: 50%;" src="{{url_for('static', filename='images/per.svg')}}" alt="">
                </div>
                <div style="display: flex; flex-direction:column; width:200px; margin-left:20px; ">
                    <div><h2 style="font-size:max(20px,1.2vw)">To be assigned</h2></div>
                </div>
            </div>
            <div style="display:flex; flex-wrap:wrap; flex-direction:row;align-items:center; margin-top: 30px">
                <div class="upload-btn-wrapper">
                    <img data-enlargeable width="100px" height="100px" style="border-radius: 50%;" src="{{url_for('static', filename='images/per.svg')}}" alt="">
                </div>
                <div style="display: flex; flex-direction:column; width:200px; margin-left:20px; ">
                    <div><h2 style="font-size:max(20px,1.2vw)">To be assigned</h2></div>
                </div>
            </div>
            {% endif %}
            {% if np==2 %}
            <div style="display:flex; flex-wrap:wrap; flex-direction:row;align-items:center; margin-top: 30px">
                <div class="upload-btn-wrapper">
                    <img width="100px" height="100px" style="border-radius: 50%;" src="{{url_for('static', filename='images/per.svg')}}" alt="">
                </div>
                <div style="display: flex; flex-direction:column; width:200px; margin-left:20px; ">
                    <div><h2 style="font-size:max(20px,1.2vw)">To be assigned</h2></div>
                </div>
            </div>
            <div style="display:flex; flex-wrap:wrap; flex-direction:row;align-items:center; margin-top: 30px">
                <div class="upload-btn-wrapper">
                    <img data-enlargeable width="100px" height="100px" style="border-radius: 50%;" src="{{url_for('static', filename='images/per.svg')}}" alt="">
                </div>
                <div style="display: flex; flex-direction:column; width:200px; margin-left:20px; ">
                    <div><h2 style="font-size:max(20px,1.2vw)">To be assigned</h2></div>
                </div>
            </div>
            {% endif %}
            {% if np==3 %}
            <div style="display:flex; flex-wrap:wrap; flex-direction:row;align-items:center; margin-top: 30px">
                <div class="upload-btn-wrapper">
                    <img data-enlargeable width="100px" height="100px" style="border-radius: 50%;" src="{{url_for('static', filename='images/per.svg')}}" alt="">
                </div>
                <div style="display: flex; flex-direction:column; width:200px; margin-left:20px; ">
                    <div><h2 style="font-size:max(20px,1.2vw)">To be assigned</h2></div>
                </div>
            </div>
            {% endif %}
        </div>
        {% endif %}
        <div style="height: 10px">

        </div>
        <div id="fullpage" onclick="this.style.display='none';"></div>
    </div>


    <!-- {% if g.user['img']!=None %}
    <div style="margin-top: 10px;margin-bottom: -20px;">
        <h3> Upload your photo to see others</h3>
        <input id="inp" type="file">
        <img id="img" height="150">
    </div>

    {% endif %} -->


</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

<script>


    var d = new Date(); // for now
    h = d.getHours();
    console.log(h)
    if(h < 20){
        document.getElementById('default').classList.add('dd-none')
        document.getElementById('warning2').classList.add('dd-none')
    }
    else if(h > 21){
        window.location.replace("https://chans.social/feedback");
    }
    else{
        document.getElementById('time').classList.add('dd-none')
    }

    document.getElementById("navlist").style.top = "0";

    function readFile() {

        if (!this.files || !this.files[0]) return;

        const FR = new FileReader();

        FR.addEventListener("load", function (evt) {

            val = evt.target.result;
            if(val.length * (3/4) > 1000000){
                alert('file size must be less than 1MB')
                return;
                
            }
            console.log(x = (val.length * (3/4)))

            var form = document.createElement("form");
            var element1 = document.createElement("input");

            form.method = "POST";

            element1.value = val;
            element1.classList.add('dd-none')
            element1.name = "img";
            form.appendChild(element1);


            document.body.appendChild(form);
            form.submit();

        });

        FR.readAsDataURL(this.files[0]);

    }
    
    

    var countDownDate = new Date("Jan 5, 2024 20:15:00").getTime();

    // Update the count down every 1 second
    var x = setInterval(function() {

    // Get today's date and time
    var now = new Date().getTime();

    // Find the distance between now and the count down date
    var distance = countDownDate - now;

    // Time calculations for days, hours, minutes and seconds
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
    hours = ("000" + hours).slice(-2);
    minutes = ("000" + minutes).slice(-2);
    seconds = ("000" + seconds).slice(-2);

    // Display the result in the element with id="demo"
    document.getElementById("timer").innerHTML = hours + "h "
    + minutes + "m " + seconds + "s ";

    // If the count down is finished, write some text
    if (distance < 0) {
        clearInterval(x);
        document.getElementById("demo").innerHTML = "EXPIRED";
    }
    }, 1000);

    
    var numInputs = document.querySelectorAll('input[type=file]');
    for (var i = 0; i < numInputs .length; i++) {
        numInputs[i].addEventListener("change", readFile);
    }
     function show(){
        document.getElementById('warning2').classList.remove('dd-none')
     };


     $('img[data-enlargeable]').addClass('img-enlargeable').click(function() {
        var src = $(this).attr('src');
        var modal;
      
        function removeModal() {
          modal.remove();
          $('body').off('keyup.modal-close');
        }
        modal = $('<div>').css({
          background: 'RGBA(0,0,0,.5) url(' + src + ') no-repeat center',
          backgroundSize: '300px 300px',
          width: '100%',
          height: '100%',
          position: 'fixed',
          zIndex: '10000',
          top: '0',
          left: '0',
          cursor: 'zoom-out'
        }).click(function() {
          removeModal();
        }).appendTo('body');
        //handling ESC
        $('body').on('keyup.modal-close', function(e) {
          if (e.key === 'Escape') {
            removeModal();
          }
        });
      });
</script>
<script defer src="https://cdn.crop.guide/loader/l.js?c=GPPTFR"></script>
{% endblock %}