<!-- Inherits from base template -->
{% extends "base.html" %}

<!-- Page title -->
{% block title %}ResNote{% endblock %}


{% block content %}

<style>
    .dd-none {
        display: none !important;
    }

    .body {
        background: linear-gradient(142.92deg, #f1fcd2 22.47%, #c0ccf7 83.09%), #fff !important;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>


<main style="color: black; margin: 2% 5% 2% 5%; text-align:left; margin-top:100px">
    
    <h1 style="text-align: center;">Privacy Policy</h1>
    <p>Last updated: May 01, 2023</p>
    <br>
    

    At Chans, we respect your privacy and are committed to protecting your personal data. This privacy policy will explain how we collect, use, protect and share your data.
    <br><br>
    
    <h2> What data we collect and how we collect it:</h2>
    When you sign up for Chans, we collect your name, email address, and date of birth. We also collect information about your social network, such as your friends list, to help you connect with friends of friends. We collect this data through our website and mobile app.
    <br><br>
    <h2>How we use the data:</h2>
    We use your personal data to provide you with a social networking service that helps you connect with friends of friends in real life. We also use the data to improve our service and to personalize your experience on Chans.
    <br><br>
    <h2>How we protect your data:</h2>
    We take the security of your personal data seriously and have implemented appropriate measures to ensure your data is protected from unauthorized access, disclosure, alteration, or destruction. We also regularly review our security practices to ensure they remain effective.
    <br><br>
    <h2>How we share your data with third parties:</h2>
    We may share your data with third parties, such as event organizers, to help facilitate social events. We may also share data with service providers who assist us in providing our services, such as hosting and analytics providers. We only share the minimum amount of data necessary to fulfill these purposes.
    <br><br>
    <h2>How you can access, modify, or delete your data:</h2>
    You can access, modify or delete your data at any time by logging into your Chans account and editing your profile. You can also contact us if you have any questions or concerns about your data.
    <br><br>
    <h2>How we handle user requests or complaints about data privacy:</h2>
    If you have any questions or concerns about your privacy, please <a href="https://wa.me/918249069736?text=Hi" style="font-weight: bolder;">contact us</a>. We will do our best to address your concerns in a timely and effective manner.

</main>

<script>

    document.getElementById("navlist").style.top = "0";



    function show() {
        document.getElementById('warning2').classList.remove('dd-none')
    }


    var countDownDate = new Date("May 9, 2024 19:00:00").getTime();

    // Update the count down every 1 second
    var x = setInterval(function () {

        // Get today's date and time
        var now = new Date().getTime();

        // Find the distance between now and the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        days = ("000" + days).slice(-2);
        hours = ("000" + hours).slice(-2);
        minutes = ("000" + minutes).slice(-2);
        seconds = ("000" + seconds).slice(-2);

        // Display the result in the element with id="demo"
        document.getElementById("timer").innerHTML = days + "d " + hours + "h "
            + minutes + "m " + seconds + "s ";

        // If the count down is finished, write some text
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("demo").innerHTML = "EXPIRED";
        }
    }, 1000);

    document.querySelector('.share-button').addEventListener('click', function () {
        if (navigator.share) {
            navigator.share({
                title: 'Chans',
                text: 'Meet friends of your friends in real-life',
                url: 'https://chans.social'
            })
                .then(() => console.log('Share complete'))
                .error((error) => console.error('Could not share at this time', error))
        }
        else {
            navigator.clipboard.writeText("https://chans.social");
            alert("Copied the link. Share it with your close friend.");
        }
    });
</script>

{% endblock %}