<!-- Inherits from base template -->
{% extends "base.html" %}

<!-- Page title -->
{% block title %}Personality Quiz{% endblock %}


{% block content %}
<style>
    body {
        background: linear-gradient(142.92deg, #f1fcd2 22.47%, #c0ccf7 83.09%), #fff;
        color: black;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }


    .d-none {
        display: none;
    }

    html,
    body {
        padding: 0;
        margin: 0;
    }

    .wrap {
        background-color: #fff;
        font: 18px Arial, san-serif;
        border-radius: 10px;
    }

    h1.likert-header {
        padding-left: 4.25%;
        margin: 20px 0 0;
    }

    form .statement {
        display: block;
        font-size: 14px;
        font-weight: bold;
        padding: 30px 0 0 4.25%;
        margin-bottom: 10px;
    }

    form .likert {
        list-style: none;
        width: 100%;
        margin: 0;
        padding: 0 0 35px;
        display: block;
        border-bottom: 2px solid #efefef;
    }

    form .likert:last-of-type {
        border-bottom: 0;
    }

    form .likert:before {
        content: '';
        position: relative;
        top: 11px;
        left: 9.5%;
        display: block;
        background-color: #efefef;
        height: 4px;
        width: 78%;
    }

    form .likert li {
        display: inline-block;
        width: 19%;
        text-align: center;
        vertical-align: top;
    }

    form .likert li input[type=radio] {
        display: block;
        position: relative;
        top: 0;
        left: 50%;
        margin-left: -6px;

    }

    

    form .likert li label {
        width: 100%;
        font-size: 18px;
    }

    form .statement {
        font-size: 18px;
    }

    form .buttons {
        margin: 30px 0;
        padding: 0 4.25%;
        text-align: center;
    }

    form .buttons button {
        padding: 5px 10px;
        background-color: black;
        color: #fff;
        border: 0;
        border-radius: 3px;
    }

    form .buttons .clear {
        background-color: #e9e9e9;
    }

    form .buttons .submit {
        background-color: #67ab49;
    }

    form .buttons .clear:hover {
        background-color: #ccc;
    }

    form .buttons .submit:hover {
        background-color: #14892c;
    }


    /*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);


    body {
        font-family: montserrat, arial, verdana;
    }
    /*form styles*/
    #msform {
        width: 100%;
        margin-top: 50px;
        text-align: center;
        position: relative;
    }
    #msform fieldset {
        border: 0 none;
        border-radius: 3px;
        box-sizing: border-box;
        width: 100%;
        /*stacking fieldsets above each other*/
        position: relative;
    }

    /*inputs*/
    #msform input, select, #msform textarea {
        margin-top: 20px;
        text-align: center;
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 3px;
        width: 100%;
        box-sizing: border-box;
        font-family: Jura;
        color: #2C3E50;
        font-size: 13px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        border-radius: 30px;
    }

    #msform #label {
        margin-top: 20px;
        text-align: center;
        width: 100%;
        box-sizing: border-box;
        font-family: Jura;
        color: #000000;
        font-size: 13px;
    }
    /*buttons*/
    #msform .action-button {
        width: 100px;
        background: #27AE60;
        font-weight: bold;
        color: white;
        border: 0 none;
        border-radius: 1px;
        cursor: pointer;
        padding: 10px;
        margin: 10px 5px;
    text-decoration: none;
    font-size: 14px;
    }
    #msform .action-button:hover, #msform .action-button:focus {
        box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
    }
    /*headings*/
    .fs-title {
        font-size: 15px;
        text-transform: uppercase;
        color: #2C3E50;
        margin-bottom: 10px;
    }
    .fs-subtitle {
        font-weight: normal;
        font-size: 13px;
        color: #666;
        margin-bottom: 20px;
    }

    .upload-btn-wrapper {
        position: relative;
        overflow: hidden;
        display: inline-block;
    }


    .upload-btn-wrapper input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }
    
    textarea:focus, input:focus{
        outline: none;
    }

    input[disabled] {pointer-events:none}

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
      }


</style>

  

<div class="form-cont" style="margin-top:100px;display: flex; justify-content:center; flex-direction:column; align-items:center">
    <div id="err1" class="d-none" style="padding: 5px; background-color: #f2dedf; font-size:max( 12px,1.1vw); border: solid 1px #a36062; width: min(500px, 100%); text-align:center;overflow:hidden;" >
        Upload a photo so your friends can recognize you  and add you as their peer.
    </div>
    <div id="err2" class="d-none" style="padding: 5px; background-color: #f2dedf; font-size:max( 12px,1.1vw); border: solid 1px #a36062; width: min(500px, 100%); text-align:center;overflow:hidden;" >
        You can get others' Instagram IDs later if you tell us yours first.
    </div>
    <div style="display: flex; flex-direction:row; justify-content:center;">
        <div style="width: min(100%, 400px);">
            <form id="msform" method="post">
                <fieldset>
                    <input class="d-none" id="imge" type="text" name="imge" placeholder="College*"  />
                    <div class="upload-btn-wrapper">
                        {% if g.user['img']!="None" %}
                        <img id="img" width="100px" height="100px" src="{{g.user['img']}}" alt=" Click to upload photo">
                        {% else %}
                        <img id="img" width="100px" height="100px" src="{{url_for('static', filename='images/upload.png')}}" alt=" Click to upload photo">
                        {% endif %}
                        <input id="inp3" type="file" accept="image/*" />
                    </div> <br>
                    {% set list1 = g.user['name'].split(' ') %}
                    <input style="width: 150px; height: 58px;" type="text" name="fname" placeholder="First name" value="{{list1[0]}}" required/>
                    <input style="width: 150px; height: 58px; margin-left:20px"  type="text" name="lname" placeholder="Last name" value="{{list1[1]}}" required/>
                    <input style="width: 178px; height: 58px;" type="tel" name="num" id="num" placeholder="WhatsApp Number" pattern="[0-9]{+}" value="{{g.user['num']}}" maxlength="13" required/>
                    <select style="width: 122px; height: 58px; margin-left:20px" name="gender" id="gender" required>
                        <option value="gender" disabled selected>Gender</option>
                        <option value="male" selected>Male</option>
                        <option value="female">Female</option>
                        <option value="non">Non binary</option>
                    </select>
                    <input style="width: 178px; height: 58px;" type="date" name="dob" placeholder="Birthday" value="{{g.user['dob']}}"/> <label id="label" style="width: 122px; height: 28px; margin-left:20px"> Your Birthday</label>
                    <input  id="insta" style="width: 178px; height: 58px;" type="text" name="insta" placeholder="john.smith" value="{{g.user['insta']}}" required/> <label id="label" style="width: 122px; height: 28px; margin-left:20px"> Your Instagram</label>
                    <label id="label" style="width: 122px; height: 28px; margin-left:20px"> Your City</label><br>
                    <input class="city" id="Chandigarh" onclick="select_city('Chandigarh')" style="width: 124px; height: 45px; margin-top: 10px" type="text" name="insta" value="Chandigarh" readonly /> 
                    <input class="city" id="Panchkula" onclick="select_city('Panchkula')"  style="width: 124px; height: 45px; margin-top: 10px" type="text" name="insta" value="Panchkula"readonly /><br>
                    <input class="city" id="Mohali" onclick="select_city('Mohali')"  style="width: 78px; height: 45px; margin-top: 10px" type="text" name="insta" value="Mohali" readonly/>
                    <input class="city" onclick="select_city('as')" style="width: 124px; height: 45px; margin-top: 10px" type="text" name="city" placeholder="Other"/><br>
                    <button class="action-button" style="margin-top: 20px; border-radius:5px;">Submit</button>
                </fieldset>
            </form>
        </div>


    </div>
        
        
</div>


<script>
    select_city('Mohali')
    document.getElementById("num").addEventListener('click', function(){
        if(document.getElementById("num").value == "" ){
            document.getElementById("num").value = "+91"
        }
    })

    document.getElementById("navlist").style.top = "0";

    function select_city(id){
        var city = document.getElementsByClassName("city");
        for (var i = 0; i < city.length; i++) {
            city.item(i).style.backgroundColor = "white";
            city.item(i).style.color = "gray";
            }
        console.log(document.getElementById(id))
        document.getElementById(id).style.backgroundColor = "black";
        document.getElementById(id).style.color = "white";
        
        
    }

    function readFile() {

        if (!this.files || !this.files[0]) return;

        const FR = new FileReader();

        FR.addEventListener("load", function (evt) {

            val = evt.target.result;
            if (val.length * (3 / 4) > 1000000) {
                alert('file size must be less than 1MB')
                return;

            }
            console.log(x = (val.length * (3 / 4)))

            document.getElementById("img").src = val;
            document.getElementById("img").style.borderRadius = "50%";
            document.getElementById("imge").value = val;

        });

        FR.readAsDataURL(this.files[0]);

    }

    var numInputs = document.querySelectorAll('input[type=file]');
    for (var i = 0; i < numInputs.length; i++) {
        numInputs[i].addEventListener("change", readFile);
    }


</script>

{% endblock %}