<!-- Inherits from base template -->
{% extends "base.html" %}

<!-- Page title -->
{% block title %}Personality Quiz{% endblock %}


{% block content %}
<style>
    body {
        background: linear-gradient(142.92deg, #f1fcd2 22.47%, #c0ccf7 83.09%), #fff;
        color: black;
    }


    .d-none {
        display: none;
    }

    html,
    body {
        padding: 0;
        margin: 0;
    }

    .wrap {
        background-color: #fff;
        font: 18px Arial, san-serif;
        border-radius: 10px;
    }

    h1.likert-header {
        padding-left: 4.25%;
        margin: 20px 0 0;
    }

    form .statement {
        display: block;
        font-size: 14px;
        font-weight: bold;
        padding: 30px 0 0 4.25%;
        margin-bottom: 10px;
    }

    form .likert {
        list-style: none;
        width: 100%;
        margin: 0;
        padding: 0 0 35px;
        display: block;
        border-bottom: 2px solid #efefef;
    }

    form .likert:last-of-type {
        border-bottom: 0;
    }

    form .likert:before {
        content: '';
        position: relative;
        top: 11px;
        left: 9.5%;
        display: block;
        background-color: #efefef;
        height: 4px;
        width: 78%;
    }

    form .likert li {
        display: inline-block;
        width: 19%;
        text-align: center;
        vertical-align: top;
    }

    form .likert li input[type=radio] {
        display: block;
        position: relative;
        top: 0;
        left: 50%;
        margin-left: -6px;

    }



    form .likert li label {
        width: 100%;
        font-size: 18px;
    }

    form .statement {
        font-size: 18px;
    }

    form .buttons {
        margin: 30px 0;
        padding: 0 4.25%;
        text-align: center;
    }

    form .buttons button {
        padding: 5px 10px;
        background-color: black;
        color: #fff;
        border: 0;
        border-radius: 3px;
    }

    form .buttons .clear {
        background-color: #e9e9e9;
    }

    form .buttons .submit {
        background-color: #67ab49;
    }

    form .buttons .clear:hover {
        background-color: #ccc;
    }

    form .buttons .submit:hover {
        background-color: #14892c;
    }



    /*custom font*/
    @import url(https://fonts.googleapis.com/css?family=Montserrat);


    body {
        font-family: montserrat, arial, verdana;
    }

    /*form styles*/
    #msform {
        width: 400px;
        margin-top: 50px;
        text-align: center;
        position: relative;
    }

    #msform fieldset {
        background: white;
        border: 0 none;
        border-radius: 3px;
        box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
        padding: 20px 30px;
        box-sizing: border-box;
        width: 80%;
        margin: 0 10%;
        background-color: #fff;
        /*stacking fieldsets above each other*/
        position: relative;
    }

    /*inputs*/
    #msform input,
    select,
    #msform textarea {
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin-bottom: 10px;
        width: 100%;
        box-sizing: border-box;
        font-family: montserrat;
        color: #2C3E50;
        font-size: 13px;
    }

    /*buttons*/
    #msform .action-button {
        width: 100px;
        background: #27AE60;
        font-weight: bold;
        color: white;
        border: 0 none;
        border-radius: 1px;
        cursor: pointer;
        padding: 10px;
        margin: 10px 5px;
        text-decoration: none;
        font-size: 14px;
    }

    #msform .action-button:hover,
    #msform .action-button:focus {
        box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
    }

    /*headings*/
    .fs-title {
        font-size: 15px;
        text-transform: uppercase;
        color: #2C3E50;
        margin-bottom: 10px;
    }

    .fs-subtitle {
        font-weight: normal;
        font-size: 13px;
        color: #666;
        margin-bottom: 20px;
    }

    .dd-none {
        display: none;
    }

    .upload-btn-wrapper {
        position: relative;
        overflow: hidden;
        display: inline-block;
    }


    .upload-btn-wrapper input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }
</style>


<div class="form-cont"
    style="z-index:0; margin-top:5%; display: flex; justify-content:center; flex-direction:column; align-items:center">


    <form id="msform" method="post">
        <fieldset>
            <h1 class="fs-title">Basic details</h1>
            <h3 class="fs-subtitle">We don't show this to others</h3>

            {% if g.user['img'] != None %}
            <div style="width: 100px;" class="upload-btn-wrapper">
                <img width="100px" height="100px" style="border-radius: 50%;" src="{{g.user['img']}}" alt="">
                <input id="inp3" type="file" accept="image/*" />
            </div>
            {% else %}
            <div class="upload-btn-wrapper">
                <img id="img" width="100px" height="100px" style="border-radius: 50%;" alt=" Click to upload photo">
                <input id="inp3" type="file" accept="image/*" />
                <input id="inp" type="file" accept="image/*" />
            </div>
            {% endif %}

            <input type="text" name="name" placeholder="Name" value="{{g.user['name']}}" required />

            <input type="text" name="num" placeholder="WhatsApp Number*" value="{{g.user['num']}}" required />
            {% if g.user['gender'] == 'male' %}
            <select name="gender" id="gender" required>
                <option value="gender" disabled selected>Gender*</option>
                <option value="male" selected>Male</option>
                <option value="female">Female</option>
                <option value="non">Non binary</option>
            </select>
            {% endif %}
            {% if g.user['gender'] == "female" %}
            <select name="gender" id="gender" required>
                <option value="gender" disabled selected>Gender*</option>
                <option value="male">Male</option>
                <option value="female" selected>Female</option>
                <option value="non">Non binary</option>
            </select>
            {% endif %}
            {% if g.user['gender'] == "non" %}
            <select name="gender" id="gender" required>
                <option value="gender" disabled selected>Gender*</option>
                <option value="male">Male</option>
                <option value="female" selected>Female</option>
                <option value="non" selected>Non binary</option>
            </select>
            {% endif %}
            <input class="dd-none" id="imge" type="text" name="imge" placeholder="College*" value="{{g.user['img']}}"
                required />
            <input type="text" name="college" placeholder="College*" value="{{g.user['college']}}" required />
            <input type="text" name="insta" placeholder="Birthday" value="{{g.user['insta']}}"
                onfocus="(this.type='date')" onblur="(this.type='text')" />
            <button class="submit action-button" target="_top">Save</button>
        </fieldset>
    </form>
</div>

<div style="margin-top:14%; margin-bottom:14%;display: flex; justify-content:center; flex-direction:column; align-items:center">
    <h2>Upcoming Events</h2>
    <div
        style="display: flex; justify-content:center; flex-direction:row; align-items:center; text-align:left; flex-wrap:wrap">
        <div
            style="width: max(400px,40%); display: flex; justify-content:center; flex-direction:column; align-items:center; text-align:left">

            <p style="margin-top: 5%; font-size:max( 18px,1.5vw); font-family: 'Karla', sans-serif;">
                Starts in: <span id="dt"></span><br>
                Venue: H5 Mess (IISER Mohali)<br> <br>
                <a href="/join" class="btn" style="font-size: small; margin-left:30%;">Join now</a>
            </p>
        </div>
        <div style="width: max(400px,60%); display:flex; justify-content:center">
            <img src="{{url_for('static', filename='images/mess.jpg')}}" style="margin-top: 50px; width:80%"
                class='img2' alt="">
        </div>

    </div>
</div>

<script>
    document.getElementById("navlist").style.top = "0";

    function readFile() {

        if (!this.files || !this.files[0]) return;

        const FR = new FileReader();

        FR.addEventListener("load", function (evt) {

            val = evt.target.result;
            if (val.length * (3 / 4) > 1000000) {
                alert('file size must be less than 1MB')
                return;

            }
            console.log(x = (val.length * (3 / 4)))

            document.getElementById("img").src = val;
            document.getElementById("imge").value = val;

        });

        FR.readAsDataURL(this.files[0]);

    }

    var numInputs = document.querySelectorAll('input[type=file]');
    for (var i = 0; i < numInputs.length; i++) {
        numInputs[i].addEventListener("change", readFile);
    }

    var countDownDate = new Date("Jan 5, 2024 20:30:00").getTime();

    // Update the count down every 1 second
    var x = setInterval(function () {

        // Get today's date and time
        var now = new Date().getTime();

        // Find the distance between now and the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        hours = ("000" + hours).slice(-2);
        minutes = ("000" + minutes).slice(-2);
        seconds = ("000" + seconds).slice(-2);

        // Display the result in the element with id="demo"
        document.getElementById("dt").innerHTML = hours + "h "
            + minutes + "m " + seconds + "s ";

        // If the count down is finished, write some text
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("demo").innerHTML = "EXPIRED";
        }
    }, 1000);
</script>

{% endblock %}