<!-- Inherits from base template -->
{% extends "base.html" %}

<!-- Page title -->
{% block title %}ResNote{% endblock %}


{% block content %}

<style>
    .dd-none {
        display: none !important;
    }

    .body {
        background: linear-gradient(142.92deg, #f1fcd2 22.47%, #c0ccf7 83.09%), #fff !important;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>


<main style="color: black; margin: 2% 5% 2% 5%; text-align:left; margin-top:100px">
    
    <h1 style="text-align: center;">Privacy Policy for Chans</h1>
    <p>Last updated: January 01, 2023</p>
    

    Welcome to Chans! These terms of service ("Terms") govern your access to and use of the services provided by Chans (the "Service"). Please read these Terms carefully before using the Service.
    <br><br>
    <h2>Acceptance of Terms</h2>
    By accessing or using the Service, you agree to be bound by these Terms, whether or not you have created an account with Chans. If you do not agree to these Terms, you may not use the Service.
    <br><br>
    <h2>Use of Service</h2>
    The Service allows you to meet friends of your friends in real-life. You are solely responsible for your interactions with other users of the Service. Chans is not responsible for any damage or harm resulting from your interactions with other users.
    <br><br>
    <h2>User Content</h2>
    The Service may allow you to post or upload content, including but not limited to text, photos, and videos ("User Content"). You retain all rights to your User Content, and grant Chans a worldwide, non-exclusive, royalty-free license to use, copy, and distribute your User Content for the purposes of operating the Service.
    <br><br>
    <h2>Prohibited Conduct</h2>
    You agree not to use the Service to:
    <br><br>
    <h2>Violate any applicable law or regulation;</h2>
    Solicit personal information from anyone under the age of 18;
    Harass, threaten, or harm any other user of the Service;
    Post or upload any User Content that is false, misleading, or infringes on any third-party rights; or
    Engage in any other conduct that restricts or inhibits any other person from using or enjoying the Service.
    Modification of Service
    Chans may modify or discontinue the Service, or any features or functionality thereof, at any time without notice to you. Chans shall not be liable to you or any third party for any modification, suspension, or discontinuance of the Service.
    <br><br>
    <h2>Disclaimer of Warranties</h2>
    The Service is provided "as is" and "as available" without any warranties of any kind, express or implied, including but not limited to, implied warranties of merchantability, fitness for a particular purpose, and non-infringement. Chans does not warrant that the Service will be uninterrupted, error-free, or free of viruses or other harmful components.
    <br><br>
    Limitation of Liability
    In no event shall Chans be liable for any indirect, incidental, special, consequential, or punitive damages, including but not limited to, damages for loss of profits, goodwill, use, data, or other intangible losses, arising out of or relating to your use of the Service.
    <br><br>
    <h2>Indemnification</h2>
    You agree to indemnify and hold Chans and its officers, directors, employees, and agents harmless from any and all claims, demands, losses, liabilities, and expenses (including attorneys' fees) arising out of or in connection with your use of the Service or your User Content.
    <br><br>
    <h2>Governing Law</h2>
    These Terms shall be governed by and construed in accordance with the laws of the state of Odisha, India.
    <br><br>
    <h2>Entire Agreement</h2>
    These Terms constitute the entire agreement between you and Chans regarding the use of the Service, and supersede any prior agreements between you and Chans relating to the Service.
    <br><br>
    If you have any questions or comments about these Terms, please <a href="https://wa.me/918249069736?text=Hi" style="font-weight: bolder;">contact us</a>.
</main>

<script>

    document.getElementById("navlist").style.top = "0";



    function show() {
        document.getElementById('warning2').classList.remove('dd-none')
    }


    var countDownDate = new Date("May 5, 2024 19:00:00").getTime();

    // Update the count down every 1 second
    var x = setInterval(function () {

        // Get today's date and time
        var now = new Date().getTime();

        // Find the distance between now and the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        days = ("000" + days).slice(-2);
        hours = ("000" + hours).slice(-2);
        minutes = ("000" + minutes).slice(-2);
        seconds = ("000" + seconds).slice(-2);

        // Display the result in the element with id="demo"
        document.getElementById("timer").innerHTML = days + "d " + hours + "h "
            + minutes + "m " + seconds + "s ";

        // If the count down is finished, write some text
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("demo").innerHTML = "EXPIRED";
        }
    }, 1000);

    document.querySelector('.share-button').addEventListener('click', function () {
        if (navigator.share) {
            navigator.share({
                title: 'Chans',
                text: 'Meet friends of your friends in real-life',
                url: 'https://chans.social'
            })
                .then(() => console.log('Share complete'))
                .error((error) => console.error('Could not share at this time', error))
        }
        else {
            navigator.clipboard.writeText("https://chans.social");
            alert("Copied the link. Share it with your close friend.");
        }
    });
</script>

{% endblock %}